$charcoal: #2C3141;
$bluegray: #6A6A7F;
$titanium: #EDE6E3;
$tomato: #F06449;
$correct: #95B46A;
$incorrect: #E63946;
$dunes: #ddd19f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $titanium
}

.tomato-highlight {
  color: $tomato !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: $charcoal;
  padding: .5em;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  &>* {
    width: 100%;
  }
}

.team-landing,
.team-quiz {
  max-width: 768px;
}

.team-landing {
  display: flex;
  flex-direction: column;

  .action-buttons-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5vh;
  }
}

.fetching-indicator {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px !important;
}

.alert-bar {
  z-index: 10;
  position: absolute;
  top: -3em;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: .5em;
  font-weight: bold;
  box-shadow: 0 2px 5px $charcoal;
  transition: top .2s;
  white-space: nowrap;

  p {
    color: $titanium
  }

  &.error {
    background: $incorrect;
  }

  &.success {
    background: $correct;
  }

  &.show {
    white-space: normal;
    top: 0;
    transition: top .2s;
  }
}

.loading-container {
  &>* {
    margin: 1em 0;
  }

  p {
    font-style: italic;
    color: lighten($charcoal, 40)
  }

  position: relative;
  top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  ///////////////////
 // Landing pages //
///////////////////

h1.logo-text {
  color: $tomato;
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -12px;
}

a.bare-link {
  text-decoration: none;
}

.landing-form {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;

  &>* {
    margin-bottom: 20px;
  }

  label {
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
  }

  button.submit {
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
  }

  input[type=text],
  input[type=number],
  input[type=password] {
    width: 100%;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 3px solid $titanium;
    padding: .25em;
    font-style: italic;
    font-size: 20px;
  }

  .error-message {
    width: 100%;
    display: none;
    padding: .5em;
    border-radius: 4px;
    background: lighten($incorrect, 10);
    border: 2px solid $incorrect;

    * {
      color: #333
    }

    ul {
      padding-left: 2em;
    }
  }

  &.error {
    input[type=text],
    input[type=number],
    input[type=password] {
      border-bottom: 3px solid $incorrect;
    }

    .error-message {
      display: block;
    }
  }
}
  ///////////////
 // Quiz view //
///////////////

.quizzer-info {
  p {
    color: #999;
    font-size: 1.1em;
    text-align: center;
  }
}

.quizzer-question {
  margin-top: 1em;
  h2, .form-label {
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    color: $tomato;
    text-transform: uppercase;
  }

  .landing-form {
    top: 25px;
  }

  .category {
    position: relative;
    top: -9px;
    right: -34px;
    color: darken($tomato,5);
    text-transform: uppercase;
    font-size: 1em
  }

  .question {
    font-size: 1.5em;
    font-style: italic;
  }
}

.question-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 3em;
  }

  p {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: $charcoal;
    text-align: center;
  }

  p.answer {
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    color: darken($charcoal, 10);
    span {
      display: block;
      font-style: italic;
      color: inherit;
      text-align: center;
    }

    span:before, span:after {
      content: '"'
    }
  }

  &.correct {
    background: darken($correct, 20)
  }

  &.incorrect {
    background: darken($incorrect, 20)
  }
}

  ////////////////
 // Admin view //
////////////////

.admin-container {
  height: 100%;
  display: flex;

  &>* {
    padding: .5em;
  }

  & * {
    color: #333
  }

  .admin-left {
    overflow-y: scroll;
    flex: 2;

    &>* {
      width: 100%;
      margin-bottom: 1em
    }

    &>*:last-child {
      margin-bottom: 0;
    }

    .top-panel {
      background: $bluegray;
      padding: .5em .7em;
      border-radius: 5px;

      .q-text {
        background: $charcoal;
        border-radius: 5px;
        margin-top: 5px;
        padding: .1em .25em;
        strong {
          color: $titanium;
        }
      }

      .tomato-highlight {
        color: $charcoal !important;
        background: $tomato;
        padding: .1em .25em;
        border-radius: 5px;
        position: relative;
        left: -.25em;
      }

      .room-id {
        position: relative;
        font-weight: light;

        strong {
          color: $tomato;
        }
      }
    }
  }

  .admin-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    &>* {
      width: 100%;
      margin-bottom: 1em;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
    
    .panel {
      padding: .5em .7em;
      border-radius: 5px;
      background: $bluegray;
    }

    .info-panel {
      text-align: center;

      .info-item {
        font-weight: bold;
        font-size: 1.3em;
      }
    }

    .teams-panel {
      flex-basis: 100%;
      position: relative;
      h2 {
        color: $tomato
      }

      .team-amount {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
      }

      .team-list {
        list-style-type: none;
        li {
          margin-top: .2em;
          font-size: 1em;
          font-weight: bold;
        }
        li:nth-child(odd) {
          color: #222
        }
      }
    }
  }
}

ul.list-container {
  h1 {
    padding: 0 0 .1em 0;
    // border-bottom: 4px solid $titanium;
    font-size: 35px;
    text-align: center;
    color: $titanium;
  }

  .list-view-item {
    width: 100%;
    margin: .5em 0 0 0;
    padding: .5em .7em;
    background: $dunes;
    list-style-type: none;
    border-radius: 5px;

    .sub-text {
      font-weight: normal;
      font-size: 1em;
    }

    &.item-approve {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.item-select {
      cursor: pointer;

      &.selected {
        background: $correct
      }
    }

    p {
      color: $charcoal;
      font-weight: bold;
      font-size: 1.3em;
    }

    button {
      background: none;
      border: none;
      margin: 0 0 0 .7em;
      cursor: pointer;
      img {
        height: 23px;
        position: relative;
        top: 2px;
      }
    }
  }
  .empty-list {
    color: darken($titanium, 20);
    text-align: center;
    font-style: italic;
    padding: 1em; 
  }
}

.action-buttons {
  display: flex;

  button {
    flex: 1;
    cursor: pointer;
    background: $tomato;
    border: none;
    border-radius: 5px;
    padding: .5em .7em;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
  }
  button:last-child {
    margin-right: 0;
  }
}

  ////////////////
 // Scoreboard //
////////////////

.score-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2em;
    text-align: center;
    color: tomato;
    font-style: italic;
  }
  p.sub {
    color: #aaa;
    font-size: 1.3em;
  }
  ol {
    text-align: center;
    list-style-type: none;
  }
  li {
    margin-top: 2em;
    font-weight: bold;
    .score-name {
      font-size: 1.5em;
    }
  }
  li:first-child {
    font-size: 2em;
    .score-name {
      animation: breathe 1s infinite linear;
    }
    .score-score {
      animation: spread .4s infinite linear;
    }
  }

  @keyframes spread {
    0% {
      letter-spacing: 0;
      font-size: 1em;
    }
    50% {
      letter-spacing: 10px;
      font-size: 1.2em;
    }
    100% {
      letter-spacing: 0;
      font-size: 1em;
    }
  }

  @keyframes breathe {
    0% {
      color: $titanium;
      font-size: 1em;
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      color: $correct;
      font-size: 1.4em;
      transform: rotate(0);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      color: $titanium;
      font-size: 1em;
      transform: rotate(0);
    }
  }
}