$charcoal: #2C3141;
$bluegray: #6A6A7F;
$titanium: #EDE6E3;
$tomato: #F06449;
$correct: #95B46A;
$incorrect: #E63946;
$dunes: #ddd19f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $titanium
}

.tomato-highlight {
  color: $tomato !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: $charcoal;
  padding: .5em;
}

.fetching-indicator {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
}

.alert-bar {
  z-index: 10;
  position: absolute;
  top: -3em;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: .5em;
  font-weight: bold;
  box-shadow: 0 2px 5px $charcoal;
  transition: top .2s;
  white-space: nowrap;

  p {
    color: $titanium
  }

  &.error {
    background: $incorrect;
  }

  &.success {
    background: $correct;
  }

  &.show {
    white-space: normal;
    top: 0;
    transition: top .2s;
  }
}

.loading-container {
  &>* {
    margin: 1em 0;
  }

  p {
    font-style: italic;
    color: lighten($charcoal, 40)
  }

  position: relative;
  top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  ///////////////////
 // Landing pages //
///////////////////

h1.logo-text {
  color: $tomato;
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -12px;
}

a.bare-link {
  text-decoration: none;
}

.landing-form {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;

  &>* {
    margin-bottom: 20px;
  }

  label {
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
  }

  button.submit {
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
  }

  input[type=text],
  input[type=number],
  input[type=password] {
    width: 100%;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 3px solid $titanium;
    padding: .25em;
    font-style: italic;
    font-size: 20px;
  }

  .error-message {
    width: 100%;
    display: none;
    padding: .5em;
    border-radius: 4px;
    background: lighten($incorrect, 10);
    border: 2px solid $incorrect;

    * {
      color: #333
    }

    ul {
      padding-left: 2em;
    }
  }

  &.error {
    input[type=text],
    input[type=number],
    input[type=password] {
      border-bottom: 3px solid $incorrect;
    }

    .error-message {
      display: block;
    }
  }
}

  ////////////////
 // Admin view //
////////////////

.admin-container {
  height: 100%;
  display: flex;

  &>* {
    padding: .5em;
  }

  & * {
    color: #333
  }

  .admin-left {
    overflow-y: scroll;
    flex: 2;

    &>* {
      width: 100%;
      margin-bottom: 1em
    }

    &>*:last-child {
      margin-bottom: 0;
    }

    .top-panel {
      background: $bluegray;
      padding: .5em .7em;
      border-radius: 5px;

      .room-id {
        position: relative;
        font-weight: light;

        strong {
          color: $tomato;
        }
      }
    }
  }

  .admin-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    &>* {
      width: 100%;
      margin-bottom: 1em;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
    
    .panel {
      padding: .5em .7em;
      border-radius: 5px;
      background: $bluegray;
    }

    .info-panel {
      text-align: center;

      .info-item {
        font-weight: bold;
        font-size: 1.3em;
      }
    }

    .teams-panel {
      flex-basis: 100%;
      position: relative;
      h2 {
        color: $tomato
      }

      .team-amount {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
      }

      .team-list {
        list-style-type: none;
        li {
          margin-top: .2em;
          font-size: 1em;
          font-weight: bold;
        }
        li:nth-child(odd) {
          color: #222
        }
      }
    }
  }
}

ul.list-container {
  h1 {
    padding: 0 0 .1em 0;
    // border-bottom: 4px solid $titanium;
    font-size: 35px;
    text-align: center;
    color: $titanium;
  }

  .list-view-item {
    width: 100%;
    margin: .5em 0 0 0;
    padding: .5em .7em;
    background: $dunes;
    list-style-type: none;
    border-radius: 5px;

    .sub-text {
      font-weight: normal;
      font-size: 1em;
    }

    &.item-approve {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.item-select {
      cursor: pointer;

      &.selected {
        background: $correct
      }
    }

    p {
      color: $charcoal;
      font-weight: bold;
      font-size: 1.3em;
    }

    button {
      background: none;
      border: none;
      margin: 0 0 0 .7em;
      cursor: pointer;
      img {
        height: 23px;
        position: relative;
        top: 2px;
      }
    }
  }
  .empty-list {
    color: darken($titanium, 20);
    text-align: center;
    font-style: italic;
    padding: 1em; 
  }
}

.action-buttons {
  display: flex;

  button {
    flex: 1;
    cursor: pointer;
    background: $tomato;
    border: none;
    border-radius: 5px;
    padding: .5em .7em;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1em;
  }
  button:last-child {
    margin-right: 0;
  }
}